[submodule "src/GPS/Drivers"]
	path = src/GPS/Drivers
	url = https://gitee.com/mmcxuan/GpsDrivers.git
[submodule "libs/mavlink/include/mavlink/v2.0"]
	path = libs/mavlink/include/mavlink/v2.0
	url = https://gitee.com/mmcxuan/c_library_v2.git
